Chicks_Automatic_Detection_dataset/
Chicks_Automatic_Detection_dataset_orfeo/
simple_approach_CNN/__pycache__/
simple_approach_CNN/results/best_model.pth
intermediate_approach/
BCNN/results/best_model.pth
BCNN/results/final_model.pth
BCNN/__pycache__/
BCNN/cuda_12.8.0_570.86.10_linux.run
VAE/__pycache__/
/Bayes_NN/cBCNN/
/Bayes_NN/CBB_BNN/
/Bayes_NN/CBB_BNN_final_no_augmentation/


**/logs/
**/best_model.pth
**/last_model.pth
**/final_model.pth
**/best_vae_model.pth
**/final_vae_model.pth
**/checkpoints/
**/__pycache__/
*.pth

cuda.md
after.sh
bash.sh
to_do.md
