audio_segments/
Chicks_Automatic_Detection_dataset/
Chicks_Automatic_Detection_dataset_original/
stuff_to_ignore/
__pycache__/
bnn_checkpoint.pth
sbatches/
parallelized_training/sbatches/
serial_3_layers_training/sbatches/
serial_3_layers_training/__pycache__/
serial_6_layers_training/sbatches/
serial_6_layers_training/__pycache__/
serial_10_layers_training_218_neurons/
local_serial_10_layers_training_516_neurons/

